@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,200&display=swap');

.head-info {
    height: 600px;
    background-color: black;
    background-image: url("../img/infor-page-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.links {
    background-color: white;
    width: 200px;
    height: 40px;
    margin-top: 230px;
    position: absolute;
    margin-left: 445px;
    border-radius: 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}

.abt {
    margin: 100px 200px 100px 200px;
}

.img-var {
    width: 1119px;
    margin: 50px 200px 50px 200px;
}

.h2-info {
    text-align: center;
    font-size: 35px;
    font-family: 'DM Sans', sans-serif;
}

.p-info {
    font-size: 20px;
    font-family: 'Mali', cursive;
}