@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

.head-info {
    height: 600px;
    background-color: black;
    background-image: url("../img/infor-page-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.links {
    background-color: white;
    width: 215px;
    height: 50px;
    margin-top: 230px;
    position: absolute;
    margin-left: 445px;
    border-radius: 25px;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}


.heading-sym {
    margin-top: 100px;
    text-align: center;
    color: #BCFD4C;
    font-size: 55px;
    font-family: 'Bitter', serif;
}

/* two blocks 1 */
* {
    box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 200px;
    /* Should be removed. Only for demonstration */
}

.left {
    width: 20%;
}

.right {
    width: 80%;
}

/* Clear floats after the columns */
.row {
    margin: 100px 300px 100px 300px;
    background-color: whitesmoke;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}




.sym-img-indivi {
    width: 175px;
    /* margin-left: 140px; */
}

.flip-img {
    transform: scaleX(-1);
}

.h2-sym-left {
    text-align: left;
}